<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="card bg-dark text-white">
        <img src="{% static 'images/imgtienda3.png' %}" class="d-block w-100 img-fluid" alt="..." height= "400">
        <div class="card-img-overlay">
            <h1 class="display-4 fw-bold text-secondary position-absolute top-50 start-50 translate-middle">Bienvenid@s</h1>
            
        </div>
    </div>
        
</body>
</html>