<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <div class="messages w-100" >
                {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}">
                    <h4 class="alert-heading">Guardado Correctamente!</h4>
                    <p>El objeto se guardo en la base de datos</p>
                    <a href="{% url 'persona_listar' %}" class="alert-link">Ver Registro </a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>   
    {% endif %}

</body>
</html>